<h1>diplomado</h1>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        
        </head>
    <body>
        <dl>
        <dt>CSS</dt>
        <dd>Hojas de estilo en cascada</dd>
        <dt>HTML</dt>
        <dd>Hypertext Markup Language</dd>
        <dt>W3C</dt>
        <dd>consorcio World Wide Web</dd>
        </dl>
        
        <dialog>
        <dt>Pregunta:</dt>
        <dd>¿Qué significa CSS?</dd>
        <dt>Respuesta:</dt>
        <dd>Hojas de estilo en cascada</dd>
        <dt>Pregunta:</dt>
        <dd>¿Qué significa HTML?</dd>
        <dt>Respuesta:</dt>
        <dd>Hypertext Markup Language</dd>
        <dt>Pregunta:</dt>
        <dd>¿Qué significa W3C?</dd>
        <dt>Respuesta:</dt>
        <dd>Consorcio World Wide Web</dd>
        </dialog>
        
    </body>
</html>
